.input{
    margin-top: 50px;
    margin-bottom: 45px;
}
.input h2{
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    
}
.input p{
    margin-bottom: 50px;
    color: #707070;
}
::placeholder{
    font-weight: 500;
    font-size: 13px;
}
.tex-bar{
    padding: 15px;
    border: none;
    box-shadow: 0px 0px 12px #c4bfbf;
    left: 0;
    right: auto;
    width: 100%;
}
.start-btn{
    position: absolute;
    left: auto;
    right: 5px;
    top: 5px;
    color: white;
    font-weight: 500;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, #1BD6BB, #009EFD);
}
