/* .background-img{
    background-image: url('../../../img/');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin-bottom: 1%;
} */