@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

.Header-text{
    font-family: 'Playfair Display', serif;
    color: '#111430';
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    margin-top: 40px;
}
