#footer a{
    color: #464646;
}
footer{
    height: 200px;
}
.foterLogo{
    margin-top: 10%;
    height: 100px;
}
.Milions{
    font-weight: 600;
}
.meno-link a{
    color: black;
}
.footer-list-icon li{
    list-style: none;
    margin: 0 10px;
    overflow: hidden;
    color:#838585;
}
.icon{
    font-size: 36px!important;
    width: 30px;
}