@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

.exp-bg-img{
    background-image: url("../../../img/exp-bg.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;
}
.exp-card{
    text-align: center;
    padding: 30px;
    border-radius: 70px 0px 70px 0px;
    transition: .5s;
}
.exp-card img{
    width: 100%;
    margin-bottom: 15px;
}
.exp-card:hover{
    text-align: center;
    border: none;
    box-shadow: 0 0 12px #b9adad;
    background-color: #FAFFFD;
}
.exp-desc h5{
    font-size: 18px;
    font-weight: bold;
}
.exp-desc p{
    font-size: 13px;
    font-weight: 100;
}